@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
*
{
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}
body
{
    background: linear-gradient(45deg, #4e65ff, #62effd);
}
button
{
    color: orangered;
    background-color: yellow;
    border: none;
    border-radius: 1em;
    height: 5em;
    width: 50em;
    transition: 1.5s;
    cursor: pointer;
}
button:hover
{
    color: yellow;
    background-color: orangered;
    transition: 1.5s;
    border-radius: 10em;
}
a
{
    border: none;
    color: yellow;
    background-color: blue;
    background: blue;
}
li
{
    border: none;
    background-color: white;
    width: 0em;
    transition: 3s;
}
li:hover
{
    background-color: blue;
    width: 7em;
    color: white;
    transition: 3s;
}
h3
{
    background-color: white;
    width: 0em;
    transition: 1.5s;
    cursor: default;
}
h3:hover
{
    background-color: blue;
    width: 8em;
    color: white;
}
h4
{
    background-color: white;
    width: 0em;
    transition: 1.5s;
}
h4:hover
{
    background-color: blue;
    width: 3.5em;
    color: white;
}